<?xml version="1.0"?>
<!--
/**
 * @category  BKozlic
 * @package   BKozlic\ConfigurableOptions
 * @author    Berin Kozlic - berin.kozlic@gmail.com
 * @license   http://opensource.org/licenses/osl-3.0.php  Open Software License (OSL 3.0)
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <configurable_options>
            <configurable_general>
                <enabled>1</enabled>
            </configurable_general>

            <configurable_frontend>
                <gallery_switch>replace</gallery_switch>
                <preselected_options>1</preselected_options>
                <simple_details>1</simple_details>
            </configurable_frontend>

            <product_attributes>
                <simple_updates>{"name":{"selector":".product.sku .value","simple_product_attribute":"sku","load_asynchronously": "0"},"sku":{"selector":".page-title-wrapper span","simple_product_attribute":"name","load_asynchronously": "0"}}</simple_updates>
            </product_attributes>
        </configurable_options>
    </default>
</config>
