<?xml version="1.0"?>
<!--
/**
 * @category  BKozlic
 * @package   BKozlic\ConfigurableOptions
 * @author    Berin Kozlic - berin.kozlic@gmail.com
 * @license   http://opensource.org/licenses/osl-3.0.php  Open Software License (OSL 3.0)
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.xsd">
    <module name="BKozlic_ConfigurableOptions">
        <sequence>
            <module name="Magento_Catalog"/>
            <module name="Magento_ConfigurableProduct" />
        </sequence>
    </module>
</config>
