<?xml version="1.0"?>
<!--
/**
 * @category  BKozlic
 * @package   BKozlic\ConfigurableOptions
 * @author    Berin Kozlic - berin.kozlic@gmail.com
 * @license   http://opensource.org/licenses/osl-3.0.php  Open Software License (OSL 3.0)
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\ConfigurableProduct\Block\Product\View\Type\Configurable">
        <plugin name="update_json_config" type="BKozlic\ConfigurableOptions\Plugin\Block\Product\View\Type\Configurable"/>
    </type>

    <type name="BKozlic\ConfigurableOptions\Model\ValueModifierPool">
        <arguments>
            <argument name="modifiers" xsi:type="array">
                <item name="defaultModifier" xsi:type="array">
                    <item name="class" xsi:type="object">BKozlic\ConfigurableOptions\Model\Modifier\DefaultModifier</item>
                    <item name="sortOrder" xsi:type="number">10</item>
                </item>
            </argument>
        </arguments>
    </type>
</config>
